@import url('https://fonts.googleapis.com/css2?family=Acme&family=Anton&family=Courgette&family=Inconsolata:wght@300;400&family=Josefin+Sans:wght@200&family=Lobster&family=M+PLUS+1p:wght@300&family=M+PLUS+2&family=M+PLUS+Rounded+1c:wght@300&family=Mulish:wght@300&family=Nunito:wght@300&family=Oswald:wght@300&family=PT+Sans&family=Play&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Questrial&family=Raleway:wght@100&family=Roboto+Mono:wght@300&family=Source+Sans+Pro:wght@300&family=Ubuntu&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
  height: 100%;
  background-color: #2F3C7E;
}

.projectContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.pro1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-family: 'Mulish', sans-serif;
    color: #2F3C7E;
    font-weight: bolder;
    cursor: pointer;
    width: 280px;
    height: 190px;
    background-color: #FBEAEB;
    margin: 110px 40px;
    transition: all 0.2s ease-in;
}

.pro1:hover{
    border-radius: 10px;
    font-size: 28px;
}

.title{
    text-align: center;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: 40px;
    margin-top: 90px;
    font-family: 'Mulish', sans-serif;
    color: white;
}

